body {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 14px;
  background-color: #FFFFFF;
  color: #ffffff;
}

img {
  max-width: 100%;
  width: auto; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal; }

button {
  outline: none;
  cursor: pointer; }

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }
.countainer{
  max-width: 1140px;
  margin: 0 auto;
}
