
.main-content{
  background-color: #fafafa;
  padding-bottom: 70px;
.main-nav{
  margin-bottom: 27px;
  padding: 25px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  ul {
    max-width: 730px;
    margin: 0 auto;
  }
    li{
      position: relative;
    }
    :nth-child(n+2){
      &:after{
        content: '';
        height: 30px;
        width: 1px;
        background-color: #ececec;
        display: block;
        transform: rotate(20deg);
        position: absolute;
        left: -20px;
        top: -5px;

      }
    }
  .main-active a{
    color: #000000;
  }
  a{
    color: #979797;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.075em;
    line-height: 24px;
    text-transform: uppercase;
    transition: .5s;
    &:hover{
      color: #000000;
    }
  }
}
.photos{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.photo{
  box-sizing: border-box;
  margin: 0 15px 30px;
  position: relative;
}
  .photo-add{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: .5s;
    line-height: 0;
    align-items: center;
    justify-content: center;
    &:hover{
       background-color: rgba(0, 0, 0, 0.51);
      .plus-1{
        opacity: .5;
      }
      .plus-2{
        opacity: .5;
      }
     }
  }
  .plus-1{
     display: block;
    opacity: 0;
     width: 40px;
     height: 2px;
     background-color: #FFFFFF;
     position: absolute;
     margin: 0 auto;
    transition: .5s;
   }
  .plus-2{
    display: block;
    opacity: 0;
    width: 2px;
    height: 40px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 0 auto;
    transition: .5s;
  }
  .main-button{
    display: block;
    background-color: #959595;
    border-radius: 2px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 20.5px;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 125px;
    text-align: center;
    padding: 10px 0;
    transition: .5s;
    &:hover{
      border-radius: 7px;
      background-color: #5b5b5b;
    }
  }
}

@media (max-width: 780px) {
  .main-nav {
    nav {
      padding: 0 10px;
    }
  }
  .main-content .main-nav :nth-child(n+2):after{
    display: none;
  }
  .main-content .photos{
    flex-wrap: wrap;
  }
}
@media (max-width: 620px){
  .main-content .main-nav a{
    font-size: 10px;
  }
}

@media (max-width: 440px){
  .main-content .main-nav a{
    font-size: 8px;
  }
}
