.slider {
  margin-bottom: 33px;
  .swiper-container {
    height: 70vh;
    text-align: center;
  }

  .slide-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background.png");
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .swiper-slide-1-h2 {
    font-size: 48px;
    font-family: 'Roboto Light', sans-serif;
    background-color: #000000;
    text-transform: uppercase;
    display: block;
    padding: 11px 40px;
    margin-bottom: 36px;
    letter-spacing: 0.1em;
    line-height: 24px;
  }

  .swiper-slide-1-p {
    line-height: 24px;
    font-size: 18px;
    font-family: 'Roboto Light', sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }
  .slide-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../images/background-2.png");
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .swiper-slide-2-h2 {
    font-size: 48px;
    font-family: 'Roboto Light', sans-serif;
    background-color: #000000;
    text-transform: uppercase;
    display: block;
    padding: 11px 85px;
    margin-bottom: 36px;
    letter-spacing: 0.1em;
    line-height: 24px;
  }

  .swiper-slide-2-p {
    line-height: 24px;
    font-size: 18px;
    font-family: 'Roboto Light', sans-serif;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.4em;
  }
  .swiper-pagination-bullets{
    margin-bottom: 53px;
  }
  .swiper-button-next{
    background-image: none;
    border: 1px solid #FFFFFF;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: .5s;
    &:hover{
      background-color: black;
      border-color: transparent;
    }
    &:after{
      position: absolute;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      top: 13px;
      right: 14px;
      border-right: 1px solid #FFFFFF;
      border-top: 1px solid #FFFFFF;
      transform: rotate(45deg);
    }
  }
  .swiper-button-prev{
    background-image: none;
    border: 1px solid #FFFFFF;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    transition: .5s;
    &:hover{
      background-color: black;
      border-color: transparent;}
    &:after{
      position: absolute;
      content: "";
      display: block;
      width: 16px;
      height: 16px;
      top: 13px;
      right: 10px;
      border-left: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF;
      transform: rotate(45deg);
    }
  }
  .swiper-button-disabled{
    opacity: 1;
  }
  .swiper-pagination-bullet{
    width: 14px;
    height: 14px;
    background-color: #FFFFFF;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #000000;
    &:after{
      content: "";
      display: block;
      width: 6px;
      height: 6px;
      background-color: #FFFFFF;
      border-radius: 50%;
      margin: 3.5px auto 0;
    }
  }
}
.main-content{
  background-color: #fafafa;
  padding-bottom: 70px;
.main-nav{
  margin-bottom: 27px;
  padding: 25px 0;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  ul {
    max-width: 730px;
    margin: 0 auto;
  }
    li{
      position: relative;
    }
    :nth-child(n+2){
      &:after{
        content: '';
        height: 30px;
        width: 1px;
        background-color: #ececec;
        display: block;
        transform: rotate(20deg);
        position: absolute;
        left: -20px;
        top: -5px;

      }
    }
  .main-active a{
    color: #000000;
  }
  a{
    color: #979797;
    font-size: 14px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.075em;
    line-height: 24px;
    text-transform: uppercase;
    transition: .5s;
    &:hover{
      color: #000000;
    }
  }
}
.photos{
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
.photo{
  box-sizing: border-box;
  margin: 0 15px 30px;
  position: relative;
}
  .photo-add{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    transition: .5s;
    line-height: 0;
    align-items: center;
    justify-content: center;
    &:hover{
       background-color: rgba(0, 0, 0, 0.51);
      .plus-1{
        opacity: .5;
      }
      .plus-2{
        opacity: .5;
      }
     }
  }
  .plus-1{
     display: block;
    opacity: 0;
     width: 40px;
     height: 2px;
     background-color: #FFFFFF;
     position: absolute;
     margin: 0 auto;
    transition: .5s;
   }
  .plus-2{
    display: block;
    opacity: 0;
    width: 2px;
    height: 40px;
    background-color: #FFFFFF;
    position: absolute;
    margin: 0 auto;
    transition: .5s;
  }
  .main-button{
    display: block;
    background-color: #959595;
    border-radius: 2px;
    font-family: "Roboto",sans-serif;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 0.05em;
    line-height: 20.5px;
    margin: 0 auto;
    text-transform: uppercase;
    max-width: 125px;
    text-align: center;
    padding: 10px 0;
    transition: .5s;
    &:hover{
      border-radius: 7px;
      background-color: #5b5b5b;
    }
  }
}

@media (max-width: 850px) {
  .slider {
    .swiper-pagination-bullets {
      margin-bottom: 20px;
    }
    .swiper-slide-1-h2 {
      font-size: 32px;
      margin-bottom: 19px;
    }

    .swiper-slide-1-p {
      font-size: 11px;
    }

    .swiper-slide-2-h2 {
      font-size: 32px;
      padding: 11px 35px;
      margin-bottom: 14px;
    }

    .swiper-slide-2-p {
      line-height: 24px;
      font-size: 13px;
    }

    .swiper-container {
      height: 45vh;
    }

    .swiper-button-prev {
      width: 25px;
      height: 25px;
    }

    .swiper-button-prev:after {

      width: 7px;
      height: 7px;
      top: 9px;
      right: 7px;
    }
    .swiper-button-next {
      width: 25px;
      height: 25px;
    }

    .swiper-button-next:after {

      width: 7px;
      height: 7px;
      top: 9px;
      right: 9px;
    }
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;}
    .swiper-pagination-bullet-active:after {
      width: 4px;
      height: 4px;
      margin: 1.5px auto 0;
    }
  }
}
@media (max-width: 780px) {
  .main-nav {
    nav {
      padding: 0 10px;
    }
  }
  .main-content .main-nav :nth-child(n+2):after{
    display: none;
  }
  .main-content .photos{
    flex-wrap: wrap;
  }
}
@media (max-width: 620px){
  .main-content .main-nav a{
    font-size: 10px;
  }
}
@media (max-width: 590px){
  .slider {

    .swiper-slide-1-h2 {
      font-size: 18px;
      margin-bottom: 8px;
      padding: 5px 10px;
    }
    .swiper-slide-1-p {
      font-size: 9px;}


      .swiper-slide-2-h2 {
      font-size: 20px;
      margin-bottom: 8px;
      padding: 5px 10px;
    }

    .swiper-slide-2-p {
      line-height: 15px;
      font-size: 9px;
    }

    .swiper-container {
      height: 30vh;
    }
  }
}
@media (max-width: 440px){
  .main-content .main-nav a{
    font-size: 8px;
  }
}
