header{
  box-shadow: 0 1px 5px rgba(0,0,0,0.1);
  position: relative;
}
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0;
}
.header-navigation a{
  padding: 0 23px;
  font-size: 16px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #777777;
  text-transform: uppercase;
  transition: .5s;
  &:hover{
    color: #000000;
  }
}
.header-active a{
  color: #000000;
  position: relative;
  &:before{
    content: "";
    display: block;
    background-color: #000000;
    width: 20px;
    height: 1px;
    position: absolute;
    left: -10px;
    top: 50%;
  }
}
.burger{
  margin-right: 10px;
  position: relative;
  background: none;
  border: none;
  padding: 0;
  display: none;
  width: 30px;
  height: 20px;
  transition: .5s;
span {
  display: block;
  height: 3px;
  width: 30px;
  background-color: #000000;

  &:before {
    content: "";
    height: 3px;
    width: 30px;
    background-color: #000000;
    position: absolute;
    top: 0;
    left: 0;
    transition: .5s;
  }

  &:after {
    content: "";
    height: 3px;
    width: 30px;
    background-color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: .5s;
  }
}
}
.burger-on {
  margin-right: 160px;
  span {
    background-color: transparent;

    &:before {
      transform: rotateZ(45deg);
      top: 9px;
    }

    &:after {
      transform: rotateZ(-45deg);
      bottom: 8px;
    }
    }
}
#mobile-menu{
  background-color: rgba(87, 87, 87, 0.79);
  color: #FFFFFF;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1000;
  right: 0;
  top: 0;
  width: 0;
  height: 50vh;
  transition: .5s;
  padding-top: 20px;
  overflow: hidden;
  a{
    transition: .5s;
  }
  li{
    padding: 15px;
    text-transform: uppercase;
    font-size: 20px;
    list-style: none;
    transition: .5s;
    &:hover{
      a{
        transition: .5s;
        color: #0a0a0a;}
      }
  }
}
.mobile-menu-on{
  width: 160px!important;
  overflow: auto!important;
}
.mobile-header-active{
  a{
    color: #000000;
  }
}
@media (max-width: 1176px) {
  .header-logo{
    margin-left: 10px;
  }
}
@media (max-width: 800px) {
  .burger{
    display: block;
    cursor: pointer;
  }
  .header-navigation{
    display: none;
  }
}
